hi
caption{
    color: #009000;
}
#hjk :hover{
color: aqua;
background-color: blanchedalmond;
}
#ghj :hover{
color: cadetblue;
background-color: brown;
}

#jkl :hover{
color: coral;
background-color: cornflowerblue;
}
#abc :hover{
color: crimson;
background-color: darkcyan;
}
#edf :hover{
color: darkblue;
background-color: darkgray;
}
#asd :hover{
color: darkgreen;
background-color: darkkhaki;
}
#xyz :hover{
color: darkmagenta;
background-color: darkolivegreen;
}
#mnb :hover{
color: crimson;
background-color: darkslateblue;

}
#mkd :hover{
background-color: rgb(0, 0, 255);
}
h1{
    color: #009000;
}
hello
